<h3>{{model.name}}</h3>
<h6>{{model.cuisine}}</h6>

<!-- {{#each review in model}}
{{/each}} -->



{{#link-to 'food-carts.food-cart.new-review' model}}Add a review{{/link-to}}

{{outlet}}
<hr>
{{#each review in model.reviews}}
<ul>
  <p>{{review.user}} says:</p>
  <p>{{review.text}}</p>
</ul>
{{/each}}
