<h3>{{model.name}}</h3>
<h4>Rating: {{model.avgRating}} stars</h4>
<h5>{{model.cuisine}}</h5>

{{#link-to 'food-carts.food-cart.new-review' model}}Add a review{{/link-to}}

{{outlet}}
<hr>
<div class="container">
{{#each review in model.reviews}}
  <h4>{{review.user}} says: {{review.rating}} Stars</h4>

  <p>{{review.text}}</p>
{{/each}}
</div>
